

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  align-items: center;
  height: auto;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form select:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

form input::placeholder {
  color: #aaa;
  font-size: 0.9rem;
}

.donation-details-title,
form h2 {
  font-size: 1.8rem;
  text-align: center;
  color: blue;
  margin-bottom: 5px;
}

form button.submit-button {
  width: 100%;
  max-width: 240px; 
  padding: 15px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

form button.submit-button:hover {
  background-color: #0056b3;
}

.donation-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: white;
  border: 2px solid lightgray;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  transition: all 0.2s ease;
  min-width: 100px;
  min-height: 50px;
}

.donation-option:hover {
  box-shadow: 0 0 5px blue;
}

.donation-option.selected {
  background: rgba(0, 123, 255, 0.1);
  color: black;
  border: 2px solid blue;
  font-weight: bold;
}

.donation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  gap: 1rem;
}

.donation-info,
.donation-form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: blue;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
  margin-left: -10px; 
}

.back-button:hover {
  color: orange;
}

.back-button svg {
  font-size: 2rem; 
  margin: 0; 
  transform: translateY(-2px); 
  margin-left:-10px;
  margin-top:-201px;
}


form .checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

form .checkbox-container input[type="checkbox"] {
  accent-color: #007bff;
}

.donation-input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-10px);
  }
  40%, 80% {
    transform: translateX(10px);
  }
}

.phone-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.phone-input {
  padding: 0.8rem 1rem;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.react-tel-input input {
  display: none !important;
}

.flag-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
  margin-left: 40px; 
  transform: translateY(3px); 

}

.flag-dropdown {
  border: none !important; 
  background: transparent !important; 
  box-shadow: none !important; 
}

.flag-dropdown img {
  display: block; 
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .donation-container {
    width: 90%;
  }
  .donation-info, .donation-form {
    padding: 20px;
  }
  .donation-tabs {
    flex-direction: column;
  }
  .donation-tab {
    width: 100%;
    margin-bottom: 10px;
  }
  .donation-options {
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    max-width: 600px;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form select {
    padding: 0.7rem 0.9rem;
  }

}

@media (max-width: 768px) {
  .donation-page {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .donation-container {
    flex-direction: column;
    width: 100%;
    box-shadow: none;
  }
  .donation-info, .donation-form {
    width: 100%;
    padding: 15px;
  }
  .donation-logo {
    width: 60px;
  }
  .donation-options {
    grid-template-columns: repeat(2, 1fr);
  }
  .donate-button, form button.submit-button {
    width: 100%;
  }
  .close-button svg, .close-button2 svg, .close-button3 svg, .close-button4 svg {
    margin-left: 282px;
  }
  .secure-icon {
    font-size: 1.5rem;
  }
  .donation-tabs {
    flex-direction: column;
  }
  .donation-tab {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .donation-options, .donation-custom-amount-container {
    grid-template-columns: 1fr;
  }
  .tooltip-content {
    width: 90%;
  }
  form {
    max-width: 100%;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form select {
    padding: 0.6rem 0.8rem;
  }
  .step-container {
    min-height: auto;
  }

  .back-button svg {
    font-size: 2.1rem; 
    margin: 0; 
    transform: translateY(-2px); 
    margin-top:-201px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {

  body, html {
    overflow-y: auto;  
  }

  .donation-container {
    flex-direction: row;
    max-width: 85%;  
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform: scale(0.85); 
    margin-top: -50px;
  }

  .donation-info, .donation-form {
    width: 50%;  
    padding: 5px;
  }

  .donation-info-title {   
    font-size: 1rem;  
  }

  .donation-subtitle, 
  .donation-highlight, 
  .donation-info p {
    font-size: 0.7rem;
    text-align: left;
    margin-bottom: 3px;
  }

  .donation-options {
    display: grid;
    grid-template-columns: repeat(3, auto);  
    gap: 5px;
    justify-content: center;
    transform: scale(0.8);  
    margin-bottom: -20px;
  }

  .donation-option {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid lightgray;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    transition: all 0.2s ease;
    min-width: 100px;
    min-height: 20px;
  }

  .donate-button {
    font-size: 0.7rem;
    padding: 5px;
    width: 85%;
  }

  .donation-logo {
    width: 60px;
    margin-bottom: -30px;
  }

  .donation-image {
    width: 90%;
    height: auto;
    margin-top: 0;
  }
  
  .arev-logo {
    width: 140px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-left: 100px;
    margin-top: -30px;  
  }

  .secure-title {
    font-size: 1.2rem;
  }

  .questions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    margin-top: 20px;
    transform: scale(0.85);  
  }

  .question-wrapper {
    width: 42%;
    margin-bottom: 0.3rem;
  }

  .eternity-logo {
    width: 12px;
    height: 12px;
  }

  .donation-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: -5px;
  }

  .donation-tab {
    font-size: 0.6rem;
    padding: 10px 6px;
  }

  .donation-custom-amount {
    font-size: 1rem;
    padding-right: 5px;
    margin-top: 10px;
  }

  .secure-icon {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .currency-symbol {
    position: absolute;
    left: 10px;
    font-size: 1rem;
    color: gray;
    margin-top:10px
  }

  .donation-info, .donation-form{
    padding: 9px;
    margin-top: -20px;
  }

  .donation-info {
    display: none;
  }

  .cover-fees label{
    font-size: 10px;
  }

  .donation-page{
    overflow-y: auto;  
    height: auto;
  }

  .close-button2 svg {
    font-size: 3rem; 
    margin: 0; 
    transform: translateY(-2px); 
    margin-left: 325px;
    margin-top: -50px;
  }
}





  
