.step5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

.step5-back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: blue;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
}

.step5-back-button svg {
  font-size: 2rem;
  margin-left: -246px;
  margin-top: -351px;
}

.step5-back-button:hover {
  color: orange;
}

.step5-title {
  font-size: 1.8rem;
  color: blue;
  text-align: center;
  font-weight: bold;
  margin-top: -100px;
}

.step5-instruction {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.step5-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  max-width: 300px;
}

.card-input-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.step5-input {
  flex: 1;
  padding: 12px 100px 12px 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background: #fff no-repeat right 20px center;
  background-size: 35px auto;
  width: 100%;
  max-width: 500px;
}

.step5-input:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.card-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: auto;
  pointer-events: none;
  margin-left:10px
}

.expiry-cvc-container {
  display: flex;
  gap: 1rem;
}

.expiry-input,
.cvc-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background: #f8f8f8;
}

.expiry-input:focus,
.cvc-input:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.step5-submit-button {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.step5-submit-button:hover {
  background: #0056b3;
}

.step5-input.error,
.expiry-input.error,
.cvc-input.error {
  border: 2px solid red; 
}

.step5-input.shake,
.expiry-input.shake,
.cvc-input.shake {
  animation: shake 0.3s ease;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@media (max-width: 1024px){
  .step5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
  }
  
  .step5-back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .step5-back-button svg {
    font-size: 2rem;
    margin-left: -145px;
    margin-top: -35px;
  }
  
  .step5-back-button:hover {
    color: orange;
  }
  
  .step5-title {
    font-size: 1.2rem;
    color: blue;
    text-align: center;
    font-weight: bold;
    margin-top: -60px;
  }
  
  .step5-instruction {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .step5-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    max-width: 300px;
  }
  
  .card-input-container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .step5-input {
    flex: 1;
    padding: 12px 100px 12px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: #fff no-repeat right 20px center;
    background-size: 35px auto;
    width: 100%;
    max-width: 500px;
  }
  
  .step5-input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .card-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: auto;
    pointer-events: none;
    margin-left:10px
  }
  
  .expiry-cvc-container {
    display: flex;
    gap: 1rem;
  }
  
  .expiry-input,
  .cvc-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: #f8f8f8;
  }
  
  .expiry-input:focus,
  .cvc-input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .step5-submit-button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .step5-submit-button:hover {
    background: #0056b3;
  }
  
  .step5-input.error,
  .expiry-input.error,
  .cvc-input.error {
    border: 2px solid red; 
  }
  
  .step5-input.shake,
  .expiry-input.shake,
  .cvc-input.shake {
    animation: shake 0.3s ease;
  }

}

@media (max-width: 768px){
  .step5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
  }
  
  .step5-back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .step5-back-button svg {
    font-size: 2rem;
    margin-left: -134px;
    margin-top: -35px;
  }
  
  .step5-back-button:hover {
    color: orange;
  }
  
  .step5-title {
    font-size: 1.2rem;
    color: blue;
    text-align: center;
    font-weight: bold;
  }
  
  .step5-instruction {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .step5-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    max-width: 300px;
  }
  
  .card-input-container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .step5-input {
    flex: 1;
    padding: 12px 100px 12px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: #fff no-repeat right 20px center;
    background-size: 35px auto;
    width: 100%;
    max-width: 500px;
  }
  
  .step5-input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .card-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: auto;
    pointer-events: none;
    margin-left:10px
  }
  
  .expiry-cvc-container {
    display: flex;
    gap: 1rem;
  }
  
  .expiry-input,
  .cvc-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: #f8f8f8;
  }
  
  .expiry-input:focus,
  .cvc-input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .step5-submit-button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .step5-submit-button:hover {
    background: #0056b3;
  }
  
  .step5-input.error,
  .expiry-input.error,
  .cvc-input.error {
    border: 2px solid red; 
  }
  
  .step5-input.shake,
  .expiry-input.shake,
  .cvc-input.shake {
    animation: shake 0.3s ease;
  }
  
}

@media (max-width: 480px){
  .step5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
  }
  
  .step5-back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .step5-back-button svg {
    font-size: 2rem;
    margin-left: -169px;
    margin-top: -297px;
  }
  
  .step5-back-button:hover {
    color: orange;
  }
  
  .step5-title {
    font-size: 1.8rem;
    color: blue;
    text-align: center;
    font-weight: bold;
    margin-top: -100px;
  }
  
  .step5-instruction {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .step5-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    max-width: 300px;
  }
  
  .card-input-container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .step5-input {
    flex: 1;
    padding: 12px 100px 12px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: #fff no-repeat right 20px center;
    background-size: 35px auto;
    width: 100%;
    max-width: 500px;
  }
  
  .step5-input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .card-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: auto;
    pointer-events: none;
    margin-left:10px
  }
  
  .expiry-cvc-container {
    display: flex;
    gap: 1rem;
  }
  
  .expiry-input,
  .cvc-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: #f8f8f8;
  }
  
  .expiry-input:focus,
  .cvc-input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .step5-submit-button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .step5-submit-button:hover {
    background: #0056b3;
  }
  
  .step5-input.error,
  .expiry-input.error,
  .cvc-input.error {
    border: 2px solid red; 
  }
  
  .step5-input.shake,
  .expiry-input.shake,
  .cvc-input.shake {
    animation: shake 0.3s ease;
  } 
  
}